@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* App root background - White theme */
    --root-background: 0 0% 100%;

    /* Utility background (Buttons, inputs, etc) */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    /* Muted background (Skeletons, Avatar, tabs, etc) */
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    
    /* Hover & active backgrounds (Nav buttons, etc) */
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    
    /* Button background hovers */
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    /* Selection & accent color */
    --highlight: 231 100% 78%;
 
    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }
 
  .dark {
    /* Dark theme (for reference, not used by default) */
    --root-background: 230 35% 3%;
    --background: 230 11% 12%;
    --foreground: 210 40% 98%;
    --card: 230 35% 3%;
    --card-foreground: 210 40% 98%;
    --popover: 230 35% 3%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 230 35% 3%;
    --secondary: 227 11% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 230 11% 8%;
    --muted-foreground: 215 6% 62%;
    --accent: 227 11% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 9% 22%;
    --input: 222 9% 22%;
    --highlight: 231 100% 78%;
    --ring: 230 9% 13%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-root text-foreground selection:bg-highlight/20 selection:text-highlight;
  }
}